@{
    ViewBag.Title = "Nosotros";
}

<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Nosotros</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->
<!-- Start About Us Section -->
<section id="about-section" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-img">
                    <img src="~/asset/images/Fake/500x594.png" class="img-responsive" alt="About images" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-text">
                    <p>Somos una marca l&iacute;der en el mercado, especializada en la b&uacute;squeda de soluciones, brindar soporte t&eacute;cnico especializado y crear de forma innovadora mecanismos de seguridad, para los estacionamientos de motocicletas.</p>
                    <p>Rider Lock, nace con el objetivo de brindar soporte, cuidado, protecci&oacute;n, organizaci&oacute;n y mantenimiento al &aacute;rea destinada para estacionamiento de motocicletas.</p>
                </div>

                <div class="about-list">
                    <h4>Cualidades de Rider Lock</h4>
                    <ul>
                        <li><i class="fa fa-check"></i>Piezas importadas canadienses, ensambladas de acabado optimo.</li>
                        <li><i class="fa fa-check"></i>Pintura industrial automotriz con acabado de uretano.</li>
                        <li><i class="fa fa-check"></i>Hierro galvanizado de alta duración y resistencia.</li>
                        <li><i class="fa fa-check"></i>Cable de acero inoxidable con revestimiento de goma.</li>
                        <li><i class="fa fa-check"></i>Flechas barricada con reflectivo.</li>
                        <li><i class="fa fa-check"></i>Pueden venir individuales así como en rack según las cantidades.</li>
                        <li><i class="fa fa-check"></i>El color puede individualizarse, según las cantidades.</li>
                        <li><i class="fa fa-check"></i>Garantía en piezas.</li>
                    </ul>
                </div>

            </div>



        </div>
    </div>
</section>

<!-- Start About-section 2 -->
<section id="about-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">

                <!-- Start Accordion Section -->
                <div class="panel-group" id="accordion">

                    <!-- Start Accordion 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                    <i class="fa fa-angle-left control-icon"></i> ¿Qué es Rider Lock?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse in">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh.</div>
                        </div>
                    </div>
                    <!-- End Accordion 1 -->
                    <!-- Start Accordion 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                    <i class="fa fa-angle-left control-icon"></i> ¿Por qué Rider Lock?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh.</div>
                        </div>
                    </div>
                    <!-- End Accordion 2 -->
                    <!-- Start Accordion 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                                    <i class="fa fa-angle-left control-icon"></i> ¿Qué problemas resuelve Rider Lock?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-3" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh.</div>
                        </div>
                    </div>
                    <!-- End Accordion 3 -->
                    <!-- Start Accordion 4 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
                                    <i class="fa fa-angle-left control-icon"></i> ¿Cuáles beneficios brinda Rider Lock?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-4" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh.</div>
                        </div>
                    </div>
                    <!-- End Accordion 4 -->

                </div>
                <!-- End Accordion section -->

            </div><!--/.col-md-6 -->
        </div>
    </div>
</section>
<!-- Start About-section 2 -->