@{
    ViewBag.Title = "Inicio";
}

<!-- Start Header Section -->
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1>&iquest;Qu&eacute; es <span>Rider Lock</span>?</h1>
                <p>Es un dispositivo especializado en la seguridad y<br />f&aacute;cil acceso para estacionar motocicletas</p>
                @Html.ActionLink("Leer más", "About", "Home", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->
<!-- Start About Us Section -->
<section id="about-section" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                    <h2>Sobre Nosotros</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="about-img">
                    <img src="~/asset/images/Fake/500x594.png" class="img-responsive" alt="About images" />
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-text">
                    <p>Somos una marca l&iacute;der en el mercado, especializada en la b&uacute;squeda de soluciones, brindar soporte t&eacute;cnico especializado y crear de forma innovadora mecanismos de seguridad, para los estacionamientos de motocicletas.</p>
                    <p>Rider Lock, nace con el objetivo de brindar soporte, cuidado, protecci&oacute;n, organizaci&oacute;n y mantenimiento al &aacute;rea destinada para estacionamiento de motocicletas.</p>
                </div>

                <div class="about-list">
                    <h4>Cualidades de Rider Lock</h4>
                    <ul>
                        <li><i class="fa fa-check"></i>Piezas importadas canadienses, ensambladas de acabado optimo.</li>
                        <li><i class="fa fa-check"></i>Pintura industrial automotriz con acabado de uretano.</li>
                        <li><i class="fa fa-check"></i>Hierro galvanizado de alta duración y resistencia.</li>
                        <li><i class="fa fa-check"></i>Cable de acero inoxidable con revestimiento de goma.</li>
                        <li><i class="fa fa-check"></i>Flechas barricada con reflectivo.</li>
                        <li><i class="fa fa-check"></i>Pueden venir individuales así como en rack según las cantidades.</li>
                        <li><i class="fa fa-check"></i>El color puede individualizarse, según las cantidades.</li>
                        <li><i class="fa fa-check"></i>Garantía en piezas.</li>
                    </ul>

                    <h4>Algunos de los problemas que evita Rider Lock es</h4>
                    <ul>
                        <li><i class="fa fa-check"></i>Evita la desorganización en el espacio destinado a motocicletas.</li>
                        <li><i class="fa fa-check"></i>Evita el efecto domino si una motocicleta se cae.</li>
                        <li><i class="fa fa-check"></i>Brinda seguridad a los clientes que acceden a su negocio en motocicleta.</li>
                        <li><i class="fa fa-check"></i>Máximiza el uso del espacio.</li>
                    </ul>
                </div>

            </div>



        </div>
    </div>
</section>


<!-- Start Call to Action Section -->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
                <p>Somos pioneros y líderes en el mercado <br> con el deseo de innovar para <br>generar cambios positivos para todos</p>
            </div>
        </div>
    </div>
</section>
<!-- End Call to Action Section -->
<!-- Start Team Member Section -->
<section id="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                    <h2>Nuestro Equipo</h2>
                    <p>Parte de nuestro equipo de asistencia técnica</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                <div class="team-member">
                    <img src="~/asset/images/Fake/270x270.png" class="img-responsive" alt="" />
                    <div class="team-details">
                        <h4>Helpy Henriquez</h4>
                        <p>Co-Fundador</p>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                <div class="team-member">
                    <img src="~/asset/images/Fake/270x270.png" class="img-responsive" alt="" />
                    <div class="team-details">
                        <h4>Carolina De Soto</h4>
                        <p>Co-Fundadora</p>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>
<!-- End Team Member Section -->
<!-- Start Portfolio Section -->
<section id="portfolio" class="portfolio-section-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                    <h2>Portafolio</h2>
                    <p>Nuestros trabajos</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <!-- Start Portfolio items -->
                <ul id="portfolio-list">
                    <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                        <div class="portfolio-item">
                            <img src="asset/images/portfolio/img1.jpg" class="img-responsive" alt="" />
                            <div class="portfolio-caption">
                                <h4>Titulo Portafolio 1</h4>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                        <div class="portfolio-item">
                            <img src="asset/images/portfolio/img2.jpg" class="img-responsive" alt="" />
                            <div class="portfolio-caption">
                                <h4>Titulo Portafolio 2</h4>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                        <div class="portfolio-item">
                            <img src="asset/images/portfolio/img3.jpg" class="img-responsive" alt="" />
                            <div class="portfolio-caption">
                                <h4>Titulo Portafolio 3</h4>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            </div>
                        </div>
                    </li>


                </ul>
                <!-- End Portfolio items -->
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->
<!-- Start Service Section -->
<section id="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                    <h2>Servicios</h2>
                    <p>Alguno de nuestros servicios</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-motorcycle"></i></a>
                    <h2>Instalación</h2>
                    <p>Instalación del producto en su establecimiento </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-gears"></i></a>
                    <h2>Mantenimiento</h2>
                    <p>Limpieza y mantenimiento de estacionamientos </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-usd"></i></a>
                    <h2>Renta</h2>
                    <p>Renta de dispositivos Rider Lock </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Service Section -->